{% extends "base.html" %}
{% block index_link %}../{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="no-ma">{{app.name}}</h1>
      <p class="lead">by {{app.author}} &middot;
        {% for p in app._platforms_parsed %}
          <i class="icon-{{p}}"></i>
        {% endfor %}
        {% if app.homepage %}
          &middot; <a href="{{app.homepage}}" class="iconified" target="_blank"><i class="icon icon-link"></i> <span>homepage</span></a>
        {% endif %}
        {% if app.threadUrl %}
          &middot; <a href="{{app.threadUrl}}" class="iconified" target="_blank"><i class="icon icon-thread"></i> <span>forum</span></a>
        {% endif %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>{{app.description}}</p>
    </div>
    <div class="col-md-4 well">
      {% if app.type == "userscript" %}
        <a href="{{app.sourceUrl}}" class="btn btn-success btn-block">Install</a>
      {% else %}
        <a href="{{app.homepage}}" target="_blank" class="btn btn-primary btn-block">Get it</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
