{% extends "base.html" %}
{% block content %}
  <div class="row">
    {% for app in apps %}
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="apps/{{app.id}}.html" class="no-link">
              <h3 class="no-ma">{{app.name}}</h3>
              <p>by {{app.author}} &middot;
              {% for p in app._platforms_parsed %}
                <i class="icon-{{p}}"></i>
              {% endfor %}
              </p>
            </a>
            <a href='apps/{{app.id}}.html' class='thumbnail'>
              <img onerror='this.style.display="none";' src="api/images/{{app.id}}/0.png" />
            </a>
            <div>
              <a href="apps/{{app.id}}.html" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
